@import './app/styles/_variables.scss';
@import './app/styles/_mixins.scss';
a {
  color: $black;
}

.custom-button {
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 1rem 2.5rem;
  border: 2px solid $green;
  background-color: $green;
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  @include transition(color 0.5s ease, background-color 0.5s ease);
  &:hover {
    background-color: transparent;
    color: $green;
  }
}

.custom {
  &-section {
    font-size: 3rem;
    color: #444444;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    text-align: center;
  }
  &-title {
    font-size: 2rem;
    color: $black;
    font-weight: 600;
    margin: 0;
    text-align: left;
    margin-bottom: 5px;
  }
  &-text {
    font-size: 1.6rem;
    color: $black;
    font-weight: 200;
    margin: 0;
    line-height: 2rem;
  }
  &-link {
    font-size: 1.6rem;
    color: $black;
    font-weight: 200;
    margin: 0;
    line-height: 2rem;
    @include transition(color 0.3s ease);
    &:hover {
      color: $green !important;
    }
  }
}

.bold {
  font-weight: 600 !important;
}

.green {
  color: $green !important;
}
