<app-banner></app-banner>
<app-map></app-map>
<div class="row section">
  <div class="contact">
    <div class="contact__title">
      Formularz kontaktowy
    </div>
    <div class="contact-wrapper">
      <div class="contact__form">
        <div class="row">
          <div class="col md-12">
            <div class="contact-group">
              <i class="icon-chat contact-group__icon"></i>
              <input class="contact-group__input" name="" placeholder="Imię">
            </div>
          </div>
          <div class="col md-12">
            <div class="contact-group">
              <i class="icon-chat contact-group__icon"></i>
              <input class="contact-group__input" name="" placeholder="Nazwisko">
            </div>
          </div>
          <div class="col md-12">
            <div class="contact-group">
              <i class="icon-chat contact-group__icon"></i>
              <input class="contact-group__input" name="" placeholder="Adres email">
            </div>
          </div>
          <div class="col md-12">
            <div class="contact-group">
              <i class="icon-chat contact-group__icon"></i>
              <input class="contact-group__input" name="" placeholder="Temat">
            </div>
          </div>
          <div class="col md-24">
            <div class="contact-group">
              <i class="icon-chat contact-group__icon"></i>
              <textarea class="contact-group__textarea" placeholder="Wiadomość"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="contact__info">
        <div class="contact-row">
          <div class="contact-row__icon">
            <i class="icon-chat contact-group__icon contact-group__icon--top"></i>
          </div>
          <div class="contact-row__txt">
            <div class="custom-title">Adres firmy</div>
            <div class="custom-text">ul. Piłsudskiego 112 m. 12</div>
            <div class="custom-text">Łódź, 99-999</div>
          </div>
        </div>
        <div class="contact-row">
          <div class="contact-row__icon">
            <i class="icon-chat contact-group__icon contact-group__icon--top"></i>
          </div>
          <div class="contact-row__txt">
            <div class="custom-title">Godziny otwarcia</div>
            <div class="custom-text">Poniedziałek - Piątek</div>
            <div class="custom-text">10:00 - 18:00</div>
          </div>
        </div>
        <div class="contact-row">
          <div class="contact-row__icon">
            <i class="icon-chat contact-group__icon contact-group__icon--top"></i>
          </div>
          <div class="contact-row__txt">
            <div class="custom-title">Telefon</div>
            <a href="tel:111222333" class="custom-link">111-222-333</a>
          </div>
        </div>
        <div class="contact-row">
          <div class="contact-row__icon">
            <i class="icon-chat contact-group__icon contact-group__icon--top"></i>
          </div>
          <div class="contact-row__txt">
            <div class="custom-title">Adres email</div>
            <a href="mailto:mail@mail.com" class="custom-link">mail@mail.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
