<app-banner>
  <h1 class="banner__title">Lista produktów</h1>
  <div class="banner__links">
    <a [routerLink]="['/']">Strona główna</a>
    <a role="button">Produkty</a>
  </div>
</app-banner>
<div class="row section">
  <h2 class="custom-section padding-top-10 padding-bottom-5">Pełna oferta produktowa</h2>
  <div class="row">
    <div class="col md-16 offset-md-4">
      <p class="custom-slogan">
        Nasze dania przygotowujemy ze starannie wyselekcionowanych, idealnie dobranych składników, dbając o to, by każda potrawa
        miała wyjątkowy i wyśmienity smak.
        <br/> Poniżej znajdą Państwo pełną listę naszych produktów cateringowych. <br/> Produkty zostały podzielone na kategorie w celu
        ułatwienia selekcji.
        <br/> Dokładamy wszelkich starań by nasze dania spełniały wysokie oczekiwania klientów.
      </p>
    </div>
  </div>
  <app-product-list></app-product-list>
</div>
