<app-banner>
  <h1 class="banner__title">O nas</h1>
  <div class="banner__links">
    <a [routerLink]="['/']">Strona główna</a>
    <a role="button">O nas</a>
  </div>
</app-banner>
<div class="row section about">
  <div class="col md-12 padding-bottom-5">
    <h2 class="about__title">
      Witaj w
      <span class="green">Food</span>Box
    </h2>
    <h3 class="about__subtitle">
      Catering przez duże C
    </h3>
    <div class="about__text">
      FoodBox to firma cateringowa z bardzo dużym doświadczeniem w zakresie obsługi Klientów indywidualnych, biznesowych, jak i
      indywidualnych.
      <br/>Jeśli potrzebny Ci prawdziwy ekspert od profesjonalnego przygotowywania i serwowania potraw, które umilą Twoim gościom
      uczestnictwo w imprezie – warto skorzystać właśnie z naszej oferty.
      <br/> Możesz być pewien, że nie zawiedziemy Twojego zaufania.
    </div>
    <div class="about__text">
      Naszym priorytetem jest zawsze przygotowanie oferty w pełni dopasowanej do indywidualnych potrzeb naszego Klienta. Wiemy
      doskonale, że każda impreza ma nieco inny charakter, a zapewnienie jej odpowiedniej oprawy cateringowej to jeden z
      fundamentów zadowolenia Gości.
    </div>
    <div class="about__text">
      Naszym priorytetem jest zawsze przygotowanie oferty w pełni dopasowanej do indywidualnych potrzeb naszego Klienta. Wiemy
      doskonale, że każda impreza ma nieco inny charakter, a zapewnienie jej odpowiedniej oprawy cateringowej to jeden z
      fundamentów zadowolenia Gości. Dlatego też, wybierając naszą ofertę spośród wszystkich przygotowanych przez firmy cateringowe
      w Warszawie, możesz oczekiwać:
    </div>
    <div class="about__list">
      <p>starannie skomponowanego menu – dopasowanego charakterem do stylistyki imprezy,</p>
      <p>potraw przygotowanych z najlepszych składników – bez chemii, wyłącznie z wykorzystaniem dobrej klasy produktów,</p>
      <p>estetyki podania potraw – bez względu na, to czy organizujesz festyn z grillem, czy elegancki bankiet plenerowy bądź
        konferencję,
      </p>
      <p>możliwości swobodnego komponowania menu – mamy dla Ciebie wiele gotowych i przykładowych propozycji menu, ale to Ty
        ostatecznie decydujesz o tym, co będzie serwowane. Nasi kucharze poradzą sobie z każdym wyzwaniem.</p>
    </div>
    <!-- <div class="about__text bold">
      Nie tylko catering
    </div>
    <div class="about__text">
      FoodBox wbrew temu, jak działają inne firmy cateringowe, oferuje również szereg usług dodatkowych z myślą o tych, którzy
      chcą zorganizować event korzystając z jak najmniejszej ilości podwykonawców. Wybierając nas, poza świetnie przygotowanymi
      daniami możesz oczekiwać:
    </div>
    <div class="about__list">
      <p>udostępnienia wyposażenia gastronomicznego – począwszy od stołów i krzeseł, przez cały sprzęt do gotowania (włączając
        w to innowacyjną kuchnię mobilną), aż po zastawę czy dekoracje,</p>
      <p>pomocy przy koordynacji eventu – ułatwimy Ci opanowanie wszystkich detali związanych z obsługą gości,
      </p>
      <p>profesjonalnej obsługi kelnerskiej,
      </p>
      <p>pomocy przy przygotowaniu sali do imprezy oraz przy sprzątaniu po jej zakończeniu,</p>
      <p>wielu innych usług, które ułatwią organizację przyjęcia.</p>
    </div>
    <div class="about__text">
        Jeśli zatem interesują Cię firmy cateringowe, które gwarantują kompleksowe wsparcie – nie możesz pominąć naszej oferty.<br/><br/>
        
        Obszarem naszego działania jest przede wszystkim Warszawa, jednakże możemy przygotować dla Ciebie catering także poza stolicą. Zadzwoń lub napisz i dowiedz się więcej – zapraszamy!
    </div> -->
  </div>
</div>
