<div class="footer default-padding">
  <div class="col md-8 xs-24">
    <div class="footer__title">Dane kontaktowe</div>
    <div class="footer__row">
      <div class="custom-text bold">Adres firmy</div>
      <div class="custom-text">
        ul. Piłsudskiego 112 m. 12
        <br/> Łódź, 99-999
      </div>
    </div>
    <div class="footer__row">
      <div class="custom-text bold">Godziny otwarcia</div>
      <div class="custom-text">
        Poniedziedziałek - Piątek
        <br/> 10:00 - 18:00
      </div>
    </div>
    <div class="footer__row">
      <div class="custom-text bold">Telefon</div>
      <a href="tel:111222333" class="custom-link">
        111-222-333
      </a>
    </div>
    <div class="footer__row">
      <div class="custom-text bold">Adres email</div>
      <a href="mailto:mail@mail.com" class="custom-link">
        mail@mail.com
      </a>
    </div>
  </div>
  <div class="col md-8 xs-24">
    <div class="footer__logo">
      <span class="green">Food</span>Box
    </div>
    <div class="custom-text">
      Gotowanie to nasza pasja, którą pragniemy się z Państwem dzielić. Nasz zespół tworzą eksperci z wyjątkowym zmysłem powonienia
      i smaku. Nasi mistrzowie serwują Państwu najdoskonalsze dzieła kulinarne, które zadowolą każde, nawet najbardziej wymagające
      podniebienia. Wieloletnie doświadczenie sprawia, że jesteśmy w stanie zaspokoić każdy gust.
    </div>
    <div class="footer__icons">
      <a href="#">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="#">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="#">
        <i class="fa fa-google-plus"></i>
      </a>
      <a href="#">
        <i class="fa fa-youtube-play"></i>
      </a>
    </div>
  </div>
  <div class="col md-8 xs-24">
    <div class="footer__title">Newsletter</div>
    <div class="custom-text">
      Zapisz się do newslettera aby być na bieżąco z naszymi promocjami. Skorzystaj z wyjątkowych promocji, specjalnie dla
      <span class="green">Ciebie</span>.
    </div>
    <div class="footer-group">
      <i class="icon-chat footer-group__icon"></i>
      <input class="footer-group__input" name="" type="email" placeholder="Adres email">
    </div>
    <button class="custom-button">Wyślij</button>
  </div>
</div>
<div class="copyright default-padding">
  <div class="custom-text">
    © Copyright 2017. All rights reserved
  </div>
</div>
