<div #upScroll class="up-box animation" [@elementState]="scrollimateOptions.myScrollimation1.currentState"
[scrollimate]="scrollimateOptions.myScrollimation1"
pageScroll [pageScrollOffset]="0" [pageScrollDuration]="750"
[pageScrollEasing]="myEasing" [pageScrollInterruptible]="false" href="#up-scroll">
<i class="fa fa-arrow-up"></i>
</div>
<div id="up-scroll" class="header">
  <div class="menu">
    <div class="menu__logo">
      <a href="#">
        <span class="green">Food</span>
        <span>Box</span>
      </a>
    </div>
    <div class="menu__links">
      <a href="#" class="menu-item menu-item--active">Strona główna</a>
      <a href="#" class="menu-item">O nas</a>
      <a href="#" class="menu-item">Aktualności</a>
      <a href="#" class="menu-item">Oferta</a>
      <a href="#" class="menu-item">Produkty</a>
      <a href="#" class="menu-item">Kontakt</a>
    </div>
  </div>
  <app-headerslider></app-headerslider>
</div>
<div class="cover">
  <app-opinion></app-opinion>
</div>
