.home-about {
  background-image: url('/assets/images/about.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  height: 80rem;
  &__title {
    align-items: center;
    font-size: 3rem;
    font-weight: 700;
    color: #444444;
    margin-top: 20rem;
  }
  &__subtitle {
    font-size: 2rem;
    color: #84b813;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  &__text {
    font-size: 2rem;
    color: #444444;
    font-weight: 200;
    margin: 0;
    line-height: 2.5rem;
    padding-right: 5rem;
    margin-bottom: 3rem;
  }
}

$uh: 1700px;
$hd: 1450px;
$lg: 1100px;
$md: 900px;
$sm: 600px;
@media screen and (max-width: $uh) {}

@media screen and (max-width: $hd) {}

@media screen and (max-width: $lg) {}

@media screen and (max-width: $md) {
  .home-about {
    background: #fff;
    height: auto;
    text-align: center;
    padding-bottom: 5rem; 
    &__title {
      margin-top: 5rem;
      padding-right: 0;
    }
    &__subtitle {
      padding-right: 0;
    }
    &__text {
      padding-right: 0;
    }
  }
}
