<div class="header">
  <div class="menu">
    <div class="menu__logo">
      <a href="#">
        <span class="green">Food</span>
        <span>Box</span>
      </a>
    </div>
    <div class="menu__links">
      <a href="#" class="menu-item menu-item--active">Home</a>
      <a href="#" class="menu-item">O nas</a>
      <a href="#" class="menu-item">Aktualności</a>
      <a href="#" class="menu-item">Oferta</a>
      <a href="#" class="menu-item">Produkty</a>
      <a href="#" class="menu-item">Kontakt</a>
    </div>
  </div>
  <app-headerslider></app-headerslider>
</div>
<app-opinion></app-opinion>