<ul class="type-list">
  <li class="type-item selected" [ngClass]="{'selected': id === 1 }" (click)="select(1)">
    Wszystkie produkty
  </li>
  <li class="type-item" [ngClass]="{'selected': id === 7 }" *ngIf="getProductsNumber(7)" (click)="select(7)">
    FoodBoxy
  </li>
  <li class="type-item" [ngClass]="{'selected': id === 2 }" (click)="select(2)" *ngIf="getProductsNumber(2)">
    Warzywa
  </li>
  <li class="type-item" [ngClass]="{'selected': id === 3 }" (click)="select(3)" *ngIf="getProductsNumber(3)">
    Owoce
  </li>
  <li class="type-item" [ngClass]="{'selected': id === 4 }" (click)="select(4)" *ngIf="getProductsNumber(4)">
    Produkty mleczne
  </li>
  <li class="type-item" [ngClass]="{'selected': id === 5 }" (click)="select(5)" *ngIf="getProductsNumber(5)">
    Soki
  </li>
  <li class="type-item" [ngClass]="{'selected': id === 6 }" (click)="select(6)" *ngIf="getProductsNumber(6)">
    Mięsa
  </li>
</ul>
<div class="product-list row">
  <div class="col md-6" *ngFor="let product of products; let i = index;">
    <div class="product-list-item" (click)="getItem(product)">
      <!-- <img src="../../../assets/images/{{product.photo}}" class="responsive-img"> -->
      <div [ngSwitch]="i % 3">
        <img *ngSwitchCase="0" src="/assets/images/box10.png" class="responsive-img">
        <img *ngSwitchCase="1" src="/assets/images/box11.png" class="responsive-img">
        <img *ngSwitchCase="2" src="/assets/images/box12.png" class="responsive-img">
      </div>
      <div class="btns">
        <div class="detail-btn" (click)="addToCart()">Dodaj do koszyka</div>
        <div class="detail-btn">Szczegóły</div>
      </div>
      <div class="descr">
        <div class="name">
          {{product.name}}
        </div>
        <div class="price">
          {{product.price}}
        </div>
      </div>
    </div>
  </div>

</div>
