@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";
.product {
  &__img {
    background-color: #e9e8e8;
    width: 45%;
    float: left;
  }
  &__info {
    width: 55%;
    float: right;
    padding-left: 5rem;
  }
  &__title {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    color: $black;
    margin-bottom: 2rem;
  }
  &__text {
    padding-right: 5rem;
    font-size: 2rem;
    color: #444444;
    font-weight: 200;
    margin: 0;
    line-height: 2.5rem;
    margin-bottom: 2rem;
  }
  &__alert {
    padding-right: 5rem;
    font-size: 1.6rem;
    color: #444444;
    font-weight: 200;
    margin: 0;
    line-height: 2.5rem;
    margin-bottom: 2rem;
    font-style: italic;
  }
  &__price {
    padding-right: 5rem;
    font-size: 2rem;
    color: #444444;
    font-weight: 600;
    margin: 0;
    line-height: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 10rem;
    p {
      margin: 0;
      &:last-child {
        font-size: 1.6rem;
      }
    }
  }
}
