<h2 class="banner__title white">
  Opinie naszych klientów
</h2>
<p-carousel circular="circular" autoplayInterval="5000" easing="easeOutStrong" numVisible="1" [value]="opinions">
  <ng-template let-opinion pTemplate="item">
    <div class="opinion-item">
      <div class="row">
        <div class="opinion-desc">
          {{opinion.description}}
        </div>
      </div>
      <div class="row">
          <div class="opinion-name">
            <b>{{opinion.name}}</b>
          </div>
        <div class="opinion-type">
          {{opinion.type}}
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
