@import "../../styles/_variables.scss";
.centre-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 15px 15px 30px;
  img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: -4px 6px 9px 0px #596474;
  }
}

.description-op {
  padding-top: 15px;
}

.opinion {
  &-item {
    width: 60%;
    margin: 0 auto;
  }
  &-desc {
    color: #9a9a9a;
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 3rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 6rem 0 3rem;
    font-family: 'Raleway', sans-serif;
    &:before {
      content: '“';
      font-family: 'Vidaloka', serif;
      font-size: 7rem;
      display: block;
      margin-bottom: 10px;
      color: $green;
    }
  }
  &-type {
    font-size: 1.2rem;
    padding: 0;
    color: #84b813;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }
  &-name {
    font-weight: bold;
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
  }
}

.type-title {
  width: 100%;
  font-weight: bold;
}

.type {}

$uh: 1700px;
$hd: 1450px;
$lg: 1100px;
$md: 900px;
$sm: 600px;
@media screen and (max-width: $uh) {}

@media screen and (max-width: $hd) {}

@media screen and (max-width: $lg) {}

@media screen and (max-width: $md) {
  .opinion {
    &-item {
      width: calc(100% - 2rem);
    }
    &-desc {
      width: 90%;
    }
  }
}
