@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';
a {
  color: $black;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 30rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  box-shadow: -1px 0px 8px rgba($black, 0.5);
  &__logo {
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
    color: $black;
    span {
      &:first-child {
        color: $green;
      }
    }
  }
  &__links {}
  &-item {
    font-size: 1.8rem;
    line-height: 2rem;
    padding: 4rem 2rem;
    display: block;
    float: left;
    color: $black;
    font-weight: 500;
    @include transition(color 0.5s ease);
    &:hover {
      color: $green;
    }
  }
  &-item--active {
    color: $green;
  }
}
