@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';
a {
  color: $black;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 30rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  box-shadow: -1px 0px 8px rgba($black, 0.5);
  &__logo {
    display: flex;
    align-items: center;
    font-size: 3rem; // font-family: 'Pacifico', cursive;
    font-weight: 700;
    color: $black;
    span {
      &:first-child {
        color: $green;
        display: block;
        float: left;
      }
    }
  }
  &__links {}
  &-item {
    font-size: 1.8rem;
    line-height: 2rem;
    padding: 4rem 2rem;
    display: block;
    float: left;
    color: $black;
    font-weight: 500;
    @include transition(color 0.5s ease);
    &:hover {
      color: $green;
    }
  }
  &-item--active {
    color: $green;
  }
  &__mobile {
    display: none;
  }
}

$uh: 1700px;
$hd: 1450px;
$lg: 1100px;
$md: 900px;
$sm: 600px;
@media screen and (max-width: $uh) {
  .menu {
    padding: 0 10rem;
  }
}

@media screen and (max-width: $hd) {
  .menu {
    padding: 0 5rem;
  }
}

@media screen and (max-width: $lg) {}

@media screen and (max-width: $md) {
  .menu {
    display: block;
    padding: 2rem 5rem;
    &__logo {
      justify-content: center;
    }
    &__links {
      display: none;
    }
    &__mobile {
      position: absolute;
      background-color: #fff;
      width: 100%;
      left: 0;
      top: 100%;
    }
    &-mobile {
      font-size: 1.8rem;
      line-height: 2rem;
      padding: 1.5rem 2rem;
      display: block;
      color: #444444;
      font-weight: 500;
      text-align: center;
      transition: color 0.5s ease;
    }
    &-mobile--active {
      color: $green;
    }
  }
}
